<form>
    <div>
        <h2>
            Name
        </h2>
        <dl>
            <dt>Username</dt>
            <dt><input type="text" /></dt>
            <dt>Password</dt>
            <dt><input type="password" /></dt>
        </dl>
        <button>Submit</button>
    </div>

</form>
